.dropdown{
    position: relative;
    display: inline-block;
    &_item{
        cursor: pointer;
    }
    &_menu{
        position: absolute;
        height: 0;
        border: 0;
        min-width: 100%;
        background-color: white;
        border-radius: 8px;
        inset: 0px 0 auto auto;
        margin: 0px;
        transform: translate(0px, 38px);
        margin-top: 4px;
        list-style: none;
        overflow: hidden;
        padding: 0;
        transition: all .6s;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0,0.1);
        opacity: 0;
        z-index: 1000;
        &.left{
            left: 0;
            right: auto;
        }
        & li{
            padding: 8px 16px;
            font-size: large;
            display: flex;
            align-items: center;
            & a{
                color: black;
                text-decoration: none;
            }
            & i{
                margin-left: 10px;
                transform: scale(1.2);
                
            }
            &.seprator{
                margin: 4px 0;
                padding: 0;
                border-bottom: 1px solid #b7b7b7;
            }
            &:not(.seprator):hover{
                background-color: rgba(220, 220, 220, 0.61);
            }
        }
    }
    &.show &_menu{
        border: 1px solid gainsboro;
        height: auto;
        width: max-content;
        opacity: 1;
        margin-top: 10px;
    }
}