.category-card{
    border: 1px solid gainsboro;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    text-decoration: none;
    max-width: 40vw;
    &_img{
        margin-top: .25rem;
    }
    &_title{
        text-align: center;
        color: black;
        padding: .5rem 0;
    }
}
/* Tablet */
@media only screen and (min-width:540px)  {
    .category-card{
        max-width: 28vw;
    }
}
/* Desktop */
@media only screen and (min-width:1000px) {
    .category-card{
        max-width: 15vw;
    }
}