@import 'adminpanel';
@import 'search';
@import 'cart';
@import 'category';
.w-center{
    display: inline-block;
    margin-left: auto;            
    margin-right: auto;
}
a.link{
    color: inherit;
    text-decoration: none;
}
.h-center{
    vertical-align: middle;
}
.h-fit{
    height: fit-content !important;
}
.c-h-center{   
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}

.comment_user{
    padding-right: 12PX;
    margin: 8px 0;
    border: 1px solid gray;
    padding: 8px;
    border-radius: 8px;
}
.comment_user i{
    display: inline-block;
    color: black;
    font-size: 2em;
    vertical-align: middle;
}
.comment_user_username{
    display: inline-block;
    vertical-align: middle;
    color: black;
    font-size: 1em;
    margin: 8px 0;
}
.comment_user_subject{
    margin: 8px 8px 0 8px;
    display: block;
    font-size: .9em;
}
.comment_user_message{
    display: block;
    font-size: 0.8em;
    margin: 16px 8px;
}
.productView{
    &_detail{
        &_title{
            font-size: 2rem;
            border-bottom: 1px solid rgb(194, 194, 194);
            margin: 4px 0 16px 4px;
            padding-right: 4px;
        }
        &_score{
            color: gold;
        }
    }
}

.m-1{
    margin: .25rem;
}

.table {
    // margin-top: 12px;
    /* display: block; */
    border-spacing: 0;
    border-radius: 4px;
    width: 100%;
    border: 1px solid;
    background-color: #FFFFFF;
}
.p1{
    padding: .5rem;
}
.item{
    &_key{
        font-size: .75rem;
        color: gray;
    }
    &_value{
        font-size: 1rem;
    }
}

/* Tablet */
@media only screen and (min-width:540px)  {
    tr.cartitem{
        height: 180px;
        grid-template-columns: 40% 60%;
    }
}
/* Desktop */
@media only screen and (min-width:1000px) {
    tr.cartitem{
        height: 230px;
        grid-template-columns: 30% 70%;
        border-bottom: 1px solid black;
    }
    #mobilesidebar{
        display: none;
    }
    #adminsidebar{
        display: block;
        ul{
            transform: none;
            width: 20vw;
            overflow-x: hidden;
            min-width: 0;
            max-width: 20vw;
        }
    }
    #adminsidebarIcon{
        display: none;
    }
}

.orderRow{
    border: 1px solid gray;
    border-radius: 8px;
    margin: 12px 0;
}
.orderRow:last-child{
    margin-bottom: 0;
}
.orderRow_header{
    border-bottom: 1px solid gray;
    padding: 8px;
}
.orderRow_content{
    padding: 8px;
}
.orderRow_footer{
    border-top: 1px solid gray;
    padding: 8px;
    text-align: end;
}
.orderRow_footer a{
    color: blue;
}
.productImg{
    width: 50px;
    height: 50px;
    border: 1px solid darkgray;
    border-radius: 4px;
}
span.date{
    direction: ltr;
}
.table {
    tr{
        &:last-child{
            td{
                border-bottom: none;
            }
        }
        td {
            height: 52px;
            border-bottom: 1px solid gray;
            text-align: center;
        }
        th{
            height: 52px;
            border-bottom: 1px solid gray;
            text-align: center; 
        }
    }
}

#adminsidebarIcon{
    display: inline-block;
}
#navigation-bar{
    margin-right: 0;
    display: flex;
        justify-content: space-between;
        height: 64px;
        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
}

/* Tablet */
@media only screen and (min-width:540px)  {
    #adminsidebar{
        width: 0;
    }
    #maincontent{
        margin-right: 0;
        width: 100vw;
    }
    #navigation-bar{
        margin-right: 0;
        display: flex;
        justify-content: space-between;
        height: 64px;
        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
    }
}
/* Desktop */
@media only screen and (min-width:1000px) {
    #adminsidebar{
        // display: block;
        width: 20vw;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: white
    }
    #maincontent{
        margin-right: 20vw;
        width: 80vw;
    }
    #navigation-bar{
        margin-right: 20vw;
        display: flex;
        justify-content: space-between;
        height: 64px;
        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
    }
}