$primary-color:navy;
$secondary-color:#ececec;
$success-color:#28a745;
$info-color:#39c0ed;
$danger-color:#dc3545;

$primary-outline:#007bff91;

$success-outline:#28a74683;

$info-outline:#39c0ed80;

$danger-outline:#dc35468f;

$font-family: Vazir,Arial, Helvetica, sans-serif;